/* .bloquesino.parallaxino{
    height: 500px;
    margin-top: 0 !important;
}

.parallaxino.imaginox2{
    background-image: url(../src/eiffel-t-4564.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
} */
