/*SI LO LLAMO*/
.spacealone{
    height: 50px;
}

.conteiner-imgs-vr{
    height: 250px;
    width: 100%;
}

/*SI LO LLAMO*/
.titres---centres{
    position: absolute;
    top: 125px;
}

/*SI LO LLAMO*/
article h2{
    font-size: xx-large;
}

/*SI LO LLAMO*/
.menusVarios{
    display: none;
}

