body{
    background-color: #000000 !important;
    font-family: 'Roboto', sans-serif;
}

.scrollopcty {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .opacity-scroll{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.titres---centres{
    position: absolute;
    top: 150px;
}

.text-serif-pt{
    font-family: 'PT Serif', serif;
    color: rgb(255, 255, 255);
    text-align: center !important;
}

.control-margin-import{
    margin: 20px 10px !important;
}

.control-margin-import h2{
    font-size: xx-large;
}

