/* CLASS BACKGROUND PADDING ET FONT */
body {
  padding-top: 81px;
  font-family: 'Roboto', sans-serif;
  background: white!important;
}
/* PADDING-NAV */
header nav{
  padding-top: 0 !important;
}
/* CLASS DRAPEU */
.flag{
  display: none;
}
.carousel{
  max-height: 100%;
}
.min-w-null{
  min-width: 0 !important;
}
/* TEXT-SERIF-GOLD */
.textSerifGold{
  color: #e7b718;
  font-family: 'Aboreto', cursive;
}
/* TEXT-SERIF-WHITE */
.textSerifWhite{
  color: white;
  font-family: 'Aboreto', cursive;
}
/* TEXT-SERIF-BLACK */
.textSerifBlack{
  font-family: 'Aboreto', cursive;
  font-weight: bold;
}
/* DIV SEPARATION */
.separationAvecDiv{
  margin-top: 50px  !important;
  border: 1px solid gray;
}
/* CLASS CONTROL MARGIN */
.control-margin-import{
  margin: 20px 10px !important;
}
/* CLASS CONTROL VIDEO */
.scrollopcty {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* TITRES-VIDEO */
.titres-DOS-centres{
  position: absolute;
  top: 125px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* MODIF TEXTE */
.reglageText{
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px 0 10px 20px;
  font-family: 'Aboreto', cursive;
}
/* FORMAT SMARPHONE */
@media screen and (max-width: 990px) {
  .xtrSmall{
        width: 130px !important;
  }
}
/* FORMAT IPAD */
@media screen and (min-width: 768px) {
  /* TITRES-VIDEO */
  .titres-DOS-centres{
      top: 200px;
  }
  .titres-DOS-centres h1{
      font-size: 75px;
  }
  .titres-DOS-centres h6{
      font-size: 25px;
  }
}
/* FORMAT DESTOK */
@media screen and (min-width: 990px) {
  /* CAROUSEL-CONTROL */
  .carouselControlSize{
    max-width: 70% !important;
    margin: auto;
  }
}
/* FORMAT DESTOK XXL*/
@media screen and (min-width: 1320px) {
  .xtrSmall{
    padding-left: 90px;
  }
  #marginLog{
    padding-left: 60px;
  }
  #marginList{
    padding-left: 150px;
  }
  #marginSearch{
    padding-right: 200px;
  }
  .textSerifBlack{
    font-size: 20px !important;
  }
  /* TEXT-PARA-1 */
  .reglageText{
    font-size: 80px;
    margin: 50px 0;
  }
}