nav {
  min-height: 100px;
}
  /* .video-container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/Projet-Hotel-Chambord/src/Gens84973.mp4");
  background-size: cover;
  background-position: center center;
} */


/* .video-container {
  position: absolute;
  top: 0;
  right: 0;
  height: 300px;
}

.video-foreground {
  position: sticky;
  top: 0;
  left: 0;
} */

